.containerMainTitle{
    display: flex;
    justify-content: center;
    align-items: center;     /* centre en Y */
    height: 100vh;           /* prend toute la hauteur de la fenêtre */
    
}

.mainTitle {

    font-family: 'Space Grotesk', sans-serif;
    
    text-align: center;
    
    
}

.name {
    font-size: 8rem;              /* très gros titre */
    font-weight: 700;             /* bien épais */
    letter-spacing: 2px;          /* un peu d’espace entre les lettres */
    text-transform: uppercase;    /* optionnel : tout en majuscules */
    color: #636564;

    text-shadow: 3px 3px 20px rgba(163, 193, 246, 0.9);
}

.quote {
    color: black;
    font-size: 1.3rem;
}
